@font-face {
    font-family: "Source Code Pro";
    font-weight: 500;
    src: url("node_modules/source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff") format("woff"), url("node_modules/source-code-pro/WOFF2/OTF/SourceCodePro-Regular.otf.woff2") format("woff2");
}

body {
    font-family: "Source Code Pro", sans-serif;
    font-size: 12px;
    background-color: rgb(38, 50, 56);
    color: rgb(109, 194, 194);
}
