<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Zazu</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-app="zazu" class="ng-cloak">
<div ng-controller="ZazuController as zazuCtrl">
  <div ng-repeat="zazu in zazuCtrl.zazus">
    <input type="checkbox" ng-model="zazu.checked" title="Zazu checked"
           ng-change="zazuCtrl.updateChecked(zazu.id, zazu.checked)">
    <span>{{ zazu.label }}</span>
    <span ng-if="zazuCtrl.isSelected($index)"><</span>
  </div>
  <form ng-show="zazuCtrl.modes.create" ng-submit="zazuCtrl.create(zazuCtrl.zazu)">
    <input type="text" ng-model="zazuCtrl.zazu.label" name="label" id="label" title="Zazu label" required
           focus="zazuCtrl.modes.create">
  </form>
</div>

<script src="dist/zazu.min.js"></script>
</body>
</html>
