<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Zazu</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <link rel="stylesheet" type="text/css" href="node_modules/angular-hotkeys/build/hotkeys.min.css">
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-app="zazu" class="ng-cloak">
<div ng-controller="ZazuController as zazuCtrl">
  <div ng-repeat="zazu in zazuCtrl.zazus">
    <input type="checkbox" ng-model="zazu.checked" id="zazu-checked-{{ $index }}"
           ng-change="zazuCtrl.updateChecked(zazu.id, zazu.checked)">
    <label ng-hide="zazu.editing" for="zazu-checked-{{ $index }}">{{ zazu.label }}</label>
    <input ng-show="zazu.editing" type="text" ng-model="zazu.label" name="label" title="Zazu label"
           focus="zazu.editing" required>
    <span ng-if="zazuCtrl.isSelected($index)"><</span>
  </div>
  <form ng-show="zazuCtrl.modes.create" ng-submit="zazuCtrl.create(zazuCtrl.zazu)">
    <input type="text" ng-model="zazuCtrl.zazu.label" name="label" id="label" title="Zazu label" required
           focus="zazuCtrl.modes.create" class="label">
  </form>
</div>

<script src="dist/zazu.min.js"></script>
</body>
</html>
