<div class="zazu">
  <input type="checkbox" ng-model="$ctrl.zazu.checked" id="zazu-checked-{{ $ctrl.zazu.id }}"
         ng-change="$ctrl.onUpdateChecked({id: $ctrl.zazu.id, checked: $ctrl.zazu.checked})" class="zazu__check">
  <label ng-hide="$ctrl.zazu.editing" for="zazu-checked-{{ $ctrl.zazu.id }}" class="zazu__label">
    {{ $ctrl.zazu.label }}
  </label>
  <input ng-show="$ctrl.zazu.editing" type="text" ng-model="$ctrl.zazu.label" name="label" title="Edit zazu label"
         focus="$ctrl.zazu.editing" elastic-input class="zazu__edit"
         ng-keypress="$ctrl.onUpdateLabel({$event: $event, id: $ctrl.zazu.id, label: $ctrl.zazu.label})" required>
  <span class="zazu__arrow" ng-if="$ctrl.isSelected">&lt;</span>
</div>
