@charset "utf-8";

@import '~angular-hotkeys/build/hotkeys.min.css';
@import '~source-code-pro/source-code-pro.css';

$white: rgb(255, 255, 255);
$dark: rgb(38, 50, 56);
$green: rgb(255, 203, 107);
$purple: rgb(199, 146, 234);
$font-color: rgb(109, 194, 194);
$dark-font-color: rgb(104, 104, 104);

body {
  background-color: $dark;
  color: $font-color;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
}

%input {
  background: none;
  border: 0;
  border-bottom: 1px dotted $green;
  color: $font-color;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;

  &:focus {
    outline: none;
  }
}

.zazu {
  line-height: 1.5rem;
  position: relative;

  &__content {
    display: inline-block;
    padding-left: 15px;
  }

  &__edit {
    @extend %input;
    margin-left: -1px;
  }

  &__arrow {
    color: $green;
    position: absolute;
  }

  &__pointer {
    color: $dark-font-color;
    position: absolute;
  }

  &__new {
    @extend %input;
    line-height: 21px;
    margin-left: 14px;
  }

  &__check {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    margin: 0;

    &:checked + label {
      color: $dark-font-color;
      text-decoration: line-through;
    }
  }
}

// Override hotkeys styling
.cfp-hotkeys-close {
  min-height: 25px;
  min-width: 25px;
}
