<div *ngFor="let zazu of zazus, let index = index">
    <zazu-item *ngIf="!zazu.temp"
               [zazu]="zazu"
               [isSelected]="isSelected(index)"
               (onUpdateLabel)="updateLabel($event, id, label)"
               (onOutViewport)="scroll($event)">
    </zazu-item>
    <form *ngIf="zazu.temp" (submit)="create(zazu)">
        <input type="text" [(ngModel)]="zazu.label" name="label" id="label" title="Zazu label" required
               [focus]="zazu.temp" class="zazu__new" elastic-input>
    </form>
</div>
