@charset "utf-8";

@import 'hotkeys.min.css';

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  src: url('SourceCodePro-Regular.otf.woff') format('woff'), url('SourceCodePro-Regular.otf.woff2') format('woff2');
}

$white: rgb(255, 255, 255);
$dark: rgb(38, 50, 56);
$green: rgb(255, 203, 107);
$purple: rgb(199, 146, 234);
$font-color: rgb(109, 194, 194);
$dark-font-color: rgb(104, 104, 104);
$light-font-color: rgb(195, 206, 227);

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  background-color: $dark;
  color: $font-color;
}

.zazu {
  position: relative;
  line-height: 1.5rem;

  &__content {
    display: inline-block;
    padding-left: 15px;
  }

  &__edit {
    margin-left: -1px;
  }

  &__arrow {
    position: absolute;
    color: $green;
  }

  &__pointer {
    position: absolute;
    color: $light-font-color;
  }

  &__new {
    margin-left: 17px;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
  }
}

input:focus {
  outline: none;
}

input[type='text'] {
  background: none;
  border: none;
  border-bottom: 1px dotted $green;
  color: $font-color;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
}

input[type='checkbox']:checked {
  background-color: $purple;
}

input[type='checkbox']:checked + label {
  color: $dark-font-color;
  text-decoration: line-through;
}

// Override hotkeys styling
.cfp-hotkeys-close {
  min-width: 25px;
  min-height: 25px;
}
