@charset "utf-8";

@import '../node_modules/angular-hotkeys/build/hotkeys.min.css';

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  src: url('SourceCodePro-Regular.otf.woff') format('woff'), url('SourceCodePro-Regular.otf.woff2') format('woff2');
}

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  background-color: rgb(38, 50, 56);
  color: rgb(109, 194, 194);
}

.zazu-edit {
  margin-left: -1px;
}

input[type='text'] {
  background: none;
  border: none;
  border-bottom: 1px dotted rgb(255, 203, 107);
  color: rgb(109, 194, 194);
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 50%;
  padding: 3px;
  vertical-align: middle;
  margin-top: 0;
}

input[type='checkbox']:checked {
  background-color: rgb(199, 146, 234);
}

input[type='checkbox']:checked + label {
  color: rgb(104, 104, 104);
  text-decoration: line-through;
}

.label {
  margin-left: 20px;
}

input:focus {
  outline: none;
}

.cfp-hotkeys-close {
  min-width: 25px;
  min-height: 25px;
}

.arrow {
  color: rgb(255, 203, 107);
}

.zazu {
  line-height: 1.5rem;
}
