@charset "utf-8";

@import '../node_modules/angular-hotkeys/build/hotkeys.min.css';

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  src: url('SourceCodePro-Regular.otf.woff') format('woff'), url('SourceCodePro-Regular.otf.woff2') format('woff2');
}

$white: rgb(255, 255, 255);
$dark: rgb(38, 50, 56);
$green: rgb(255, 203, 107);
$purple: rgb(199, 146, 234);
$font-color: rgb(109, 194, 194);
$dark-font-color: rgb(104, 104, 104);

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
  background-color: $dark;
  color: $font-color;
}

.zazu {
  line-height: 1.5rem;

  &__label {
    margin-left: 5px;
  }

  &__edit {
    margin-left: 4px;
  }

  &__arrow {
    color: $green;
  }
}

input:focus {
  outline: none;
}

input[type='text'] {
  background: none;
  border: none;
  border-bottom: 1px dotted $green;
  color: $font-color;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 50%;
  padding: 3px;
  vertical-align: middle;
  margin-top: 0;
}

input[type='checkbox']:checked {
  background-color: $purple;
}

input[type='checkbox']:checked + label {
  color: $dark-font-color;
  text-decoration: line-through;
}

// Override hotkeys styling
.cfp-hotkeys-close {
  min-width: 25px;
  min-height: 25px;
}
